.container {
    background: rgb(50, 239, 229);
    padding: 55px;
    max-width: 960px;
    margin: 25px auto;
    overflow: hidden;
    border-radius: 40px;
    border: 4px solid #b1c9bb;
    font-family: sans-serif;
}

h1,
h2{
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
h2{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #b1c9bb;
    padding: 0 0 10px;
    color: #57635c;
}
.logo {

    text-align: center;
}
.new-task-container {
    text-align: center;
}
.box {
    padding: 20px 15px;
    border: 5px solid #b1c9bb;
    border-radius: 10px;
    background: rgb(206, 231, 234);
    margin: 15px 0;
}
.complete-list {
    float: right;
    width: 50%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    padding: 10px;
    border-bottom: 1px dotted #0dc632;
}
.update {
    float: right;
    background-color: rgb(96, 182, 43);
    color: white;
    border: 0px;
    padding: 3px 5px;
}
.delete {
    float: right;
    background-color: rgba(230, 14, 14, 0.843);
    color: white ;
    font-size: large;
    border: 0px;
    padding: 6px 7px;
    border-radius: 8px;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }